<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partial/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partial/headerAdmin'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Welcome</h1>
</div>
</main>

<footer>
  <%- include('../partial/footer'); %>
</footer>

</body>
</html>